
<!--names for validations  -->
<div class="form">
  <form ng-submit='addCat()'>
    <label>Cat Name</label>
      <input type="text" ng-model='cat.name' placeholder="Enter cat name">
    <label>Cat Profile</label>
      <input type="text" ng-model='cat.profile' placeholder="Enter cat profile">
    <label>Cat Age</label>
      <input type="number" ng-model='cat.age' placeholder="Enter cat age">
    <label>Cat Active</label>
      <input type="text" ng-model='cat.active' placeholder="Is cat active?">
    <input class='sub' type="submit" value="Submit Post">
  </form>
</div>
